/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */

/*# sourceMappingURL=custom.css.map */

/* Sidebar Badge Styling - Floating Top Right Corner */
.sidebar-menu .nav-link {
    position: relative;
}

.sidebar-menu .nav-link .badge {
    position: absolute;
    top: 8px;
    left: 35px;
    width: 16px;
    height: 16px;
    padding: 0;
    font-size: 9px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.sidebar-menu .dropdown-menu .nav-link {
    position: relative;
}

.sidebar-menu .dropdown-menu .nav-link .badge {
    position: absolute;
    top: 6px;
    left: 45px;
    width: 14px;
    height: 14px;
    padding: 0;
    font-size: 8px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Badge position for level 2 menus (Surat Pengantar, etc.) */
.main-sidebar .sidebar-menu > li.dropdown > ul.dropdown-menu > li.nav-item.dropdown > a.nav-link .badge {
    left: 32px;
}

/* Badge position for level 3 menus (PKL, Skripsi, etc.) */
.main-sidebar .sidebar-menu li ul.dropdown-menu li ul.dropdown-menu li a .badge {
    left: 15px;
}

/* No need to adjust dropdown arrow position for left-positioned badges */

/* Handle double-digit numbers */
.sidebar-menu .nav-link .badge {
    padding: 0 1px;
}

.sidebar-menu .dropdown-menu .nav-link .badge {
    padding: 0 1px;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 20px;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
}

.toast {
    position: absolute;
    top: 50px;
    right: 50px;
    min-width: 300px;
    z-index: 5;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.bg-error {
    background-color: #fc544b;
}

.form-group textarea.form-control.flexible-textarea {
    height: auto;
}

.custom-file-label {
    top: auto;
}

/* Nested Dropdown Styling */
.main-sidebar .sidebar-menu li ul.dropdown-menu li ul.dropdown-menu {
    display: none;
    padding-left: 0px;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > ul.dropdown-menu {
    display: block;
}

/* Reduce indentation for level 2 dropdown menus inside Mahasiswa/Dosen (Surat Pengantar, etc.) */
.main-sidebar .sidebar-menu > li.dropdown > ul.dropdown-menu > li.nav-item.dropdown > a.nav-link {
    padding-left: 15px !important;
}

/* Level 3 dropdown menus (PKL, Skripsi, etc.) */
.main-sidebar .sidebar-menu li ul.dropdown-menu li ul.dropdown-menu li a {
    padding-left: 36px !important;
}
